In [1]:
import numpy as np
import pandas as pd
import nltk
import math
import os

from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer

In [2]:
folder_path = 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection'
files_paths = os.listdir(folder_path)

print(files_paths)

['1.txt', '10.txt', '2.txt', '3.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [3]:
tmp_paths = []
for i in range(len(files_paths)):
    tmp_paths.append(int(files_paths[i].split('.')[0]))

tmp_paths.sort()
print(tmp_paths)

for i in range(len(files_paths)):
    files_paths[i] = folder_path + '\\' + str(tmp_paths[i]) + '.txt'
    
files_paths

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

['C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\1.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\2.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\3.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\4.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\5.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\6.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\7.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\8.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\9.txt',
 'C:\\Users\\mooha\\jupyter\\iR Project\\DocumentCollection\\10.txt']

In [4]:
files_text = []
for i in range(len(files_paths)):
    with open(files_paths[i], 'r') as file: 
        files_text.append(file.read())

files_text

['antony brutus caeser cleopatra mercy worser',
 'antony brutus caeser calpurnia ',
 'mercy worser',
 'brutus caeser mercy worser',
 'caeser mercy worser',
 'antony caeser mercy ',
 'angels fools fear in rush to tread where',
 'angels fools fear in rush to tread where',
 'angels fools in rush to tread where',
 'fools fear in rush to tread where fools']

In [5]:
def preprocessing(files_text):
    porterStemmer = PorterStemmer()

    corpus = []
    tmp_corpus = []
    for i in range(len(files_text)):
        text = files_text[i].lower() 
        tokens = word_tokenize(text)

        words = []
        for word in tokens:
            stemming = porterStemmer.stem(word)
            words.append(stemming)

        corpus.append(words)
        tmp_corpus.append(' '.join(corpus[i]))

    return corpus, tmp_corpus

corpus = preprocessing(files_text)[0]
tmp_corpus = preprocessing(files_text)[1]

In [6]:
print(tmp_corpus, '\n')
for i, line in enumerate(corpus):
    print(i, line)

['antoni brutu caeser cleopatra merci worser', 'antoni brutu caeser calpurnia', 'merci worser', 'brutu caeser merci worser', 'caeser merci worser', 'antoni caeser merci', 'angel fool fear in rush to tread where', 'angel fool fear in rush to tread where', 'angel fool in rush to tread where', 'fool fear in rush to tread where fool']

0 ['antoni', 'brutu', 'caeser', 'cleopatra', 'merci', 'worser']
1 ['antoni', 'brutu', 'caeser', 'calpurnia']
2 ['merci', 'worser']
3 ['brutu', 'caeser', 'merci', 'worser']
4 ['caeser', 'merci', 'worser']
5 ['antoni', 'caeser', 'merci']
6 ['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
7 ['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
8 ['angel', 'fool', 'in', 'rush', 'to', 'tread', 'where']
9 ['fool', 'fear', 'in', 'rush', 'to', 'tread', 'where', 'fool']

In [7]:
unique_values = np.unique(' '.join(tmp_corpus).split())
unique_values = list(unique_values)

print(unique_values, '\n')
print(len(unique_values))

['angel', 'antoni', 'brutu', 'caeser', 'calpurnia', 'cleopatra', 'fear', 'fool', 'in', 'merci', 'rush', 'to', 'tread', 'where', 'worser']

15

In [8]:
def get_unique_values(corpus):
    unique_values = []
    for sublist in corpus:
        for word in sublist:
            if word not in unique_values:
                unique_values.append(word)
    return unique_values

In [9]:
unique_values = get_unique_values(corpus)
print(unique_values, '\n')
print(len(unique_values))

['antoni', 'brutu', 'caeser', 'cleopatra', 'merci', 'worser', 'calpurnia', 'angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']

15

In [10]:
def getDocID(text):
    text = preprocessing([text])[1][0] # [0][0][0]
    doc_id = []
    for i in range(len(corpus)):
        for word in corpus[i]:
            if text == word:
                doc_id.append(i)
                
    return doc_id

In [11]:
getDocID('antony')

[0, 1, 5]

In [12]:
def getPositions(text, corpus, doc_ids):
    text = preprocessing([text])[0][0][0] # [1][0]
    positions = {}
    for i in doc_ids:
        for j in range(len(corpus[i])):
            if text == corpus[i][j]:
                if i not in positions:
                    positions[i] = [j]
                else:
                    if j not in positions[i]:
                        positions[i].append(j)
    return positions

In [13]:
getPositions('antony', corpus, getDocID('antony'))

{0: [0], 1: [0], 5: [0]}

In [14]:
positional_index = {}

for key in unique_values:
    positional_index[key] = [len(getDocID(key)),getPositions(key, corpus, getDocID(key))]

positional_index

{'antoni': [3, {0: [0], 1: [0], 5: [0]}],
 'brutu': [3, {0: [1], 1: [1], 3: [0]}],
 'caeser': [5, {0: [2], 1: [2], 3: [1], 4: [0], 5: [1]}],
 'cleopatra': [1, {0: [3]}],
 'merci': [5, {0: [4], 2: [0], 3: [2], 4: [1], 5: [2]}],
 'worser': [4, {0: [5], 2: [1], 3: [3], 4: [2]}],
 'calpurnia': [1, {1: [3]}],
 'angel': [3, {6: [0], 7: [0], 8: [0]}],
 'fool': [5, {6: [1], 7: [1], 8: [1], 9: [0, 7]}],
 'fear': [3, {6: [2], 7: [2], 9: [1]}],
 'in': [4, {6: [3], 7: [3], 8: [2], 9: [2]}],
 'rush': [4, {6: [4], 7: [4], 8: [3], 9: [3]}],
 'to': [4, {6: [5], 7: [5], 8: [4], 9: [4]}],
 'tread': [4, {6: [6], 7: [6], 8: [5], 9: [5]}],
 'where': [4, {6: [7], 7: [7], 8: [6], 9: [6]}]}

In [15]:
def phraseQuery(query, positional_index):
    query = query.split()
    query = preprocessing(query)[0]

    query_positions = []
    for i in range(len(query)):
        for word in query[i]:
            try:
                query_positions.append(positional_index[word][1])
            except:
                return f'({word}) -> is not in the dictionary'
    
    query_keys = []
    for i in query_positions:
        query_keys.append(list(i.keys()))
    
    common_doc_id = []
    if query_keys != []:
        for element in set(query_keys[0]):
            flag = True
            for sublist in query_keys[1:]:
                if element not in set(sublist):
                    flag = False
                    break
            if flag:
                common_doc_id.append(element)
                
    common_doc_id.sort()

    final_search = []
    for key in common_doc_id:
        for i in range(len(query_keys) - 1):
            if query_positions[i][key][0] - query_positions[i + 1][key][0] == -1:
                final_search.append(key)
        
    for key in positional_index:
        for inner_key in positional_index[key][1]:
            if len(positional_index[key][1][inner_key]) > 1:
                if inner_key in common_doc_id:
                    try:
                        if query_positions[0][inner_key][0] - query_positions[1][inner_key][1] == -1: 
                            final_search.append(inner_key)
                    except:
                        pass

    if len(query) != 1:
        return list(np.unique(final_search))
    else:
        return query_keys[0]

In [16]:
query = 'where fools'
search = phraseQuery(query, positional_index)

if isinstance(search, list):
    for i in search:
        print(f'({query}) -> is found in doc_id ({i})')
else:
    print(search)

(where fools) -> is found in doc_id (9)

In [17]:
def booleanPhraseQuery(query, positional_index):
    boolean = ['and', 'or', 'but-not']
    
    for word in boolean:
        if word in query:
            query_parts = query.split(word, 1)
            
            if word == boolean[0]:
                search1 = phraseQuery(query_parts[0], positional_index)
                search2 = phraseQuery(query_parts[1], positional_index)
                result = list(set(search1) & set(search2))
                
            elif word == boolean[1]:
                search1 = phraseQuery(query_parts[0], positional_index)
                search2 = phraseQuery(query_parts[1], positional_index)
                result = list(set(search1) | set(search2))
                
            else:
                search1 = phraseQuery(query_parts[0], positional_index)
                search2 = phraseQuery(query_parts[1], positional_index)
                result = list(set(search1) - set(search2))
            
            query = " ".join(query_parts[1:])
            
    return result

In [18]:
query = 'fools fear but-not where fools'
booleanPhraseQuery(query, positional_index)

[6, 7]

In [19]:
# 0 -> 'antony brutus caeser cleopatra mercy worser'
# 1 -> 'antony brutus caeser calpurnia '
# 2 -> 'mercy worser'
# 3 -> 'brutus caeser mercy worser'
# 4 -> 'caeser mercy worser'
# 5 -> 'antony caeser mercy '
# 6 -> 'angels fools fear in rush to tread where'
# 7 -> 'angels fools fear in rush to tread where'
# 8 -> 'angels fools in rush to tread where'
# 9 -> 'fools fear in rush to tread where fools'

In [20]:
# unique_values2 = np.unique(' '.join(files_text).split())
# unique_values2 = list(unique_values2)
# unique_values2 = get_unique_values(corpus2)

all_docs = []
for word in unique_values:
    all_docs.append(getDocID(word))

result_list = []
for doc in all_docs:
    inner_result = []
    for i in range(len(files_text)):
        if i in doc:
            inner_result.append(doc.count(i))
        else:
            inner_result.append(0)
    result_list.append(inner_result)
        
term_freq = {}
for i, key in enumerate(unique_values):
    term_freq[key] = result_list[i]

tf = pd.DataFrame(
    term_freq
).T

for i in range(len(files_text)):
    tf.rename(columns = {i: f'Doc{i + 1}'}, inplace = True)
    
tf

           Doc1  Doc2  Doc3  Doc4  Doc5  Doc6  Doc7  Doc8  Doc9  Doc10
antoni        1     1     0     0     0     1     0     0     0      0
brutu         1     1     0     1     0     0     0     0     0      0
caeser        1     1     0     1     1     1     0     0     0      0
cleopatra     1     0     0     0     0     0     0     0     0      0
merci         1     0     1     1     1     1     0     0     0      0
worser        1     0     1     1     1     0     0     0     0      0
calpurnia     0     1     0     0     0     0     0     0     0      0
angel         0     0     0     0     0     0     1     1     1      0
fool          0     0     0     0     0     0     1     1     1      2
fear          0     0     0     0     0     0     1     1     0      1
in            0     0     0     0     0     0     1     1     1      1
rush          0     0     0     0     0     0     1     1     1      1
to            0     0     0     0     0     0     1     1     1      1
tread         0     0     0     0     0     0     1     1     1      1
where         0     0     0     0     0     0     1     1     1      1

In [21]:
def get_weighted_term_freq(tf):
    if tf > 0:
        return math.log10(tf) + 1
    return 0

In [22]:
wtf = tf.copy()
for i in range(len(files_text)):
    wtf[f'Doc{i + 1}'] = wtf[f'Doc{i + 1}'].apply(get_weighted_term_freq)
    
wtf

           Doc1  Doc2  Doc3  Doc4  Doc5  Doc6  Doc7  Doc8  Doc9    Doc10
antoni      1.0   1.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0  0.00000
brutu       1.0   1.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0  0.00000
caeser      1.0   1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0  0.00000
cleopatra   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.00000
merci       1.0   0.0   1.0   1.0   1.0   1.0   0.0   0.0   0.0  0.00000
worser      1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0  0.00000
calpurnia   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.00000
angel       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  0.00000
fool        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  1.30103
fear        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   0.0  1.00000
in          0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  1.00000
rush        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  1.00000
to          0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  1.00000
tread       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  1.00000
where       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  1.00000

In [23]:
df = []
for key in positional_index.keys():
    df.append(positional_index[key][0])
print(df)

[3, 3, 5, 1, 5, 4, 1, 3, 5, 3, 4, 4, 4, 4, 4]

In [24]:
def get_inverse_doc_freq(n, df):
    if df > 0:
        return math.log10(n / df)
    return 0

In [25]:
idf = []
for i in df:
    idf.append(get_inverse_doc_freq(len(corpus), i))
print(idf)

[0.5228787452803376, 0.5228787452803376, 0.3010299956639812, 1.0, 0.3010299956639812, 0.3979400086720376, 1.0, 0.5228787452803376, 0.3010299956639812, 0.5228787452803376, 0.3979400086720376, 0.3979400086720376, 0.3979400086720376, 0.3979400086720376, 0.3979400086720376]

In [26]:
df_idf = pd.DataFrame({
    'df': df,
    'idf': idf
}, index = tf.index)

# df_idf.index = tf.index
df_idf

           df       idf
antoni      3  0.522879
brutu       3  0.522879
caeser      5  0.301030
cleopatra   1  1.000000
merci       5  0.301030
worser      4  0.397940
calpurnia   1  1.000000
angel       3  0.522879
fool        5  0.301030
fear        3  0.522879
in          4  0.397940
rush        4  0.397940
to          4  0.397940
tread       4  0.397940
where       4  0.397940

In [27]:
tf_idf = tf.copy()

# for i in range(len(tf_idf['Doc1'])):
#     for j in range(len(corpus)):
#         if tf_idf[f'Doc{j + 1}'][i] > 0:
#             tf_idf[f'Doc{j + 1}'][i] = idf[i]

tf_idf = tf.multiply(df_idf['idf'], axis = 0) # wtf.multiply(df_idf['idf'], axis = 0)
tf_idf

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10
antoni,0.522879,0.522879,0.00000,0.000000,0.00000,0.522879,0.000000,0.000000,0.000000,0.000000
brutu,0.522879,0.522879,0.00000,0.522879,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
caeser,0.301030,0.301030,0.00000,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000
cleopatra,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
merci,0.301030,0.000000,0.30103,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000
worser,0.397940,0.000000,0.39794,0.397940,0.39794,0.000000,0.000000,0.000000,0.000000,0.000000
calpurnia,0.000000,1.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
angel,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.522879,0.000000
fool,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.301030,0.301030,0.301030,0.602060
fear,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.000000,0.522879
in,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
rush,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
to,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
tread,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
where,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940

In [28]:
def get_total_length(x):
    return math.sqrt(x)

In [29]:
total_summtion = []
for i in range(len(corpus)):
    sum = 0
    for j in range(len(tf_idf['Doc1'])):
        sum += tf_idf[f'Doc{i + 1}'][j] ** 2
    total_summtion.append(sum)
print(total_summtion, '\n')

total_length = []
for i in total_summtion:
    total_length.append(get_total_length(i))

print(total_length)

[1.886398731612695, 1.637423422821337, 0.2489753087913579, 0.6129965493467546, 0.3395943670808145, 0.4546402988448533, 1.4292046753308438, 1.4292046753308438, 1.1558024930649036, 1.4276596679332734]

[1.3734623153231016, 1.2796184676775093, 0.49897425664192124, 0.782940961597204, 0.5827472583211477, 0.6742701972094371, 1.1954934861097504, 1.1954934861097504, 1.0750825517442386, 1.1948471316169584]

In [30]:
docs_length = pd.DataFrame({
    'Length': total_length
}, index = tf.columns)

docs_length

         Length
Doc1   1.373462
Doc2   1.279618
Doc3   0.498974
Doc4   0.782941
Doc5   0.582747
Doc6   0.674270
Doc7   1.195493
Doc8   1.195493
Doc9   1.075083
Doc10  1.194847

In [31]:
def get_normalized(tf_idf, total_length):
    if total_length > 0 :
        return tf_idf / total_length
    return 0

In [32]:
normlized_tf_idf = tf_idf.copy()
for i in range(len(normlized_tf_idf['Doc1'])):
    for j in range(len(corpus)):
        normlized_tf_idf[f'Doc{j + 1}'][i] = get_normalized(normlized_tf_idf[f'Doc{j + 1}'][i], docs_length['Length'][j]) 

normlized_tf_idf
# normlize_tf_idf.loc['antoni']

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10
antoni,0.380701,0.408621,0.000000,0.000000,0.000000,0.775474,0.000000,0.000000,0.000000,0.000000
brutu,0.380701,0.408621,0.000000,0.667839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
caeser,0.219176,0.235250,0.000000,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
cleopatra,0.728087,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
merci,0.219176,0.000000,0.603298,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
worser,0.289735,0.000000,0.797516,0.508263,0.682869,0.000000,0.000000,0.000000,0.000000,0.000000
calpurnia,0.000000,0.781483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
angel,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.437375,0.437375,0.486361,0.000000
fool,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.251804,0.251804,0.280006,0.503880
fear,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.437375,0.437375,0.000000,0.437611
in,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332867,0.332867,0.370148,0.333047
rush,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332867,0.332867,0.370148,0.333047
to,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332867,0.332867,0.370148,0.333047
tread,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332867,0.332867,0.370148,0.333047
where,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332867,0.332867,0.370148,0.333047

In [33]:
from collections import Counter

def tf_query(query):
    query = query.split()
    query = preprocessing(query)[1]
    
    tf = []
    for word in normlized_tf_idf.index:
        if word in query:
            tf.append(Counter(query)[word])
            # tf.append(query.count(word))
        else:
            tf.append(0)
            
    return tf

In [34]:
query = 'fools fear in'

insert_q = pd.DataFrame({
    'tf': tf_query(query),
}, index = normlized_tf_idf.index)

insert_q['wtf'] = insert_q['tf'].apply(get_weighted_term_freq)

insert_q['idf'] = df_idf['idf'] * insert_q['wtf']
insert_q['tf_idf'] = insert_q['idf'] * insert_q['wtf'] # insert_q['tf']
insert_q['normalized'] = 0

product = normlized_tf_idf.multiply(insert_q['wtf'], axis = 0)

insert_q = insert_q[insert_q['tf'] > 0]
insert_q

      tf  wtf       idf    tf_idf  normalized
fool   1  1.0  0.301030  0.301030           0
fear   1  1.0  0.522879  0.522879           0
in     1  1.0  0.397940  0.397940           0

In [35]:
total_summtion_q = []
sum = 0
for i in range(len(insert_q['tf_idf'])):
    sum += insert_q['tf_idf'][i] ** 2
    total_summtion_q.append(sum)

query_length = get_total_length(sum)
print('query_length =', query_length)

for i, tf_idf in enumerate(insert_q['tf_idf']):
    insert_q['normalized'][i] = get_normalized(tf_idf, query_length)
    
insert_q

query_length = 0.7227568685645942

      tf  wtf       idf    tf_idf  normalized
fool   1  1.0  0.301030  0.301030    0.416502
fear   1  1.0  0.522879  0.522879    0.723450
in     1  1.0  0.397940  0.397940    0.550586

In [36]:
product = product.multiply(insert_q['normalized'], axis = 0)
product = product.dropna()

product = product.loc[:, (product != 0).all()]
product

          Doc7      Doc8     Doc10
fear  0.316419  0.316419  0.316590
fool  0.104877  0.104877  0.209867
in    0.183272  0.183272  0.183371

In [37]:
# print('similarity (q , doc1)', product['Doc1'].sum())
# print('similarity (q , doc2)', product['Doc2'].sum())

In [38]:
docs_sum = {}
for i, key in enumerate(product.columns):
    docs_sum[key] = (product[product.columns[i]].sum())
    
docs_sum

{'Doc7': 0.6045678014662496,
 'Doc8': 0.6045678014662496,
 'Doc10': 0.7098285398370235}

In [39]:
from operator import itemgetter
ranked_results = dict(sorted(docs_sum.items(), key = itemgetter(1), reverse = True))

print('Ranked Results ->', ranked_results)

Ranked Results -> {'Doc10': 0.7098285398370235, 'Doc7': 0.6045678014662496, 'Doc8': 0.6045678014662496}

In [40]:
for key in ranked_results:
    print(key)

Doc10
Doc7
Doc8

In [41]:
# corpus2 = []
# for i in range(len(files_text)):
#     tokens = word_tokenize(files_text[i])
#     words = []
#     for word in tokens:
#         words.append(word)
#     corpus2.append(words)
# corpus2

# unique_values_set = set(' '.join(tmp_corpus).split())
# unique_values_list = list(unique_values_set)
# print(unique_values_set)

# def getPositions(corpus, text):
#     positions = {}
#     for i in range(len(corpus)):
#         for j, word in enumerate(corpus[i]):
#             if text == word:
#                 if i not in positions:
#                     positions[i] = [j]
#                 else:
#                     positions[i].append(j)
#     return positions

# positional_index = {}
# for key in unique_values:
#     if key in positional_index:
#        # positional_index[key].extend(values)
#         print()
#     else:
#         positional_index[key] = [len(getDocID(key)),getPositions(corpus, key)]
# positional_index

# common_doc_id = []
#     for i in range(len(query_keys) - 1):
#         for element in query_keys[i]:
#             if element in query_keys[i + 1]:
#                 common_doc_id.append(element)
#     common_doc_id = list(np.unique(common_doc_id))

# unique_values2 = np.unique(' '.join(files_text).split())
# unique_values2 = list(unique_values)

# matrix = []
# for sentence in files_text:
#     row = []
#     words = sentence.split()
#     for word in words:
#         if word == 'antony':
#             row.append(1)
#         else:
#             row.append(0)
#     matrix.append(row)

# for sublist in all_docs:
#     inner_result = [1 if i in sublist else 0 for i in range(10)]
#     result_list.append(inner_result)

# def get_weighted_term_freq(x):
#     return math.log10(1 + x)

# def booleanPhraseQuery(query):
#     boolean = ['and', 'or', 'but-not']
#     tmp_query = query.split()
    
#     for word in boolean:
#         if word in tmp_query:
#             query = query.split(word)
#             if word == boolean[0]:
#                 search1 = phraseQuery(query[0], positional_index)
#                 search2 = phraseQuery(query[1], positional_index)
#                 search = list(set(search1) & set(search2))
                
#             elif word == boolean[1]:
#                 search1 = phraseQuery(query[0], positional_index)
#                 search2 = phraseQuery(query[1], positional_index)
#                 search = list(set(search1) | set(search2))
                
#             else:
#                 search1 = phraseQuery(query[0], positional_index)
#                 search2 = phraseQuery(query[1], positional_index)
#                 search = list(set(search1) - set(search2))
                
#     return search

# query_parts = preprocessing(query_parts)[1]      
#     for i in query_parts:
#         if i in unique_values:
#             print(i,'yes')

# filtered_list = []
# for item in search:
#     if str(item).isdigit():
#         filtered_list.append(item)
# filtered_list